[Unit]
Description=Schedule Smartphone Clank Honor source

[Timer]
OnActiveSec=10min
OnUnitActiveSec=6h
AccuracySec=1s
Unit=smartphone-clank-source@honor_global_sitemap.service

[Install]
WantedBy=timers.target
